.bubble{
    background-color: whitesmoke;
    width: fit-content;
    margin: 0.2em 1em;
    min-width: 50%;
    max-width: 80%;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.2);
    /* height: fit-content; */
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 0.3em;
    background-color: rgba(64, 94, 186, 0.7);
    
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    color: white;

}

.bubble.self{
    background-color: rgb(117 240 207);
}